[Unit]
Description=Cluster master UDP Announcer
After=network.target

[Service]
Type=simple
User=root
StandardOutput=journal
ExecStart=/usr/bin/python /lib/paracool/bin/master_announce.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
